<div class="bar-features">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2 class="bar-features__heading heading heading_c">Photo Approve</h2>
        <p class="bar-features__txt">Before delivering the bouquet we can send you it’s photo so you could approve the composition or change it if needed.</p>
      </div>
      <div class="col-6">
        <h2 class="bar-features__heading heading heading_c">Quality assurance</h2>
        <p class="bar-features__txt">We work only with proven suppliers and we test our flowers for freshness to ensure the best quality of your products.</p>
      </div>
    </div>
  </div>
</div>
