<div class="bar-features">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2 class="head head-b"></h2>
      </div>
      <div class="col-6">
        <h2 class="head head-b"></h2>
      </div>
    </div>
  </div>
</div>
