<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section__heading heading heading_b heading_center">Flowers of the week</h2>
                <div class="carousel">
                    <div class="carousel__wrap">
                        <ul class="products">
                            {% render 'product-card' %}
                            {% render 'product-card' %}
                            {% render 'product-card' %}
                            {% render 'product-card' %}
                            {% render 'product-card' %}
                            {% render 'product-card' %}
                        </ul>
                    </div>
                    <button class="carousel__btn carousel__btn_lt btn btn_light">
                        {% render 'icon-arrow-lt' %}
                    </button>
                    <button class="carousel__btn carousel__btn_rt btn btn_light">
                        {% render 'icon-arrow-rt' %}
                    </button>
                    <div class="carousel__dots">
                        <ul class="dots">
                            <li class="dots__item"></li>
                            <li class="dots__item"></li>
                            <li class="dots__item"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
