<button id="toTopBtn" class="to-top-btn">
    <div class="to-top-btn__bg">
        {% render 'btn-to-top' %}
    </div>
    <div class="to-top-btn__arrow">
        {% render 'icon-arrow-up' %}
    </div>
</button>
<div class="container">
    <div class="row">
        <div class="col-3 col-md-6 col-xs-12">
            <div class="logo">
                {% render 'logo' %}
            </div>
            <p class="about">In our studio you can buy the freshest flowers in Kyiv. Our florists create original compositions that will help you to give an unforgettable impression. Our couriers will deliver your present at any chosen hour.</p>
            <p class="copyright">© <span id="year"></span> Floryart.<span class="copyright_dark"> All rights reserved</span></p>
        </div>
        <div class="col-3 col-md-6 col-xs-12">
            <h3 class="footer__heading heading heading_c">Company</h3>
            <ul class="footer-menu">
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">About us</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Career</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">For wholesale buyers</a>
                </li>
            </ul>
        </div>
        <div class="col-3 col-md-6 col-xs-12">
            <h3 class="footer__heading heading heading_c">Service</h3>
            <ul class="footer-menu">
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Delivery and payment options</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Quality assurance</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Photo confirmation</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Flower replacing</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Exchange and return</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Flower care</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Free card</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Public offer</a>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <h3 class="footer__heading heading heading_c">Contacts</h3>
            <ul class="footer-menu">
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Showrooms</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">hello@floryart.com.ua</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">+380 98 765 43 21</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">+380 98 123 45 67</a>
                </li>
            </ul>
        </div>
    </div>
</div>
