<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="hero">
          {% assign socialBlocks = section.blocks | where: 'type', 'social' %}
          {% if socialBlocks != empty %}
            <ul class="hero__social social">
              {% for block in socialBlocks %}
                <li class="social__item">
                  <a class="social__link" href="{{ block.settings.socialLink }}">
                    {% assign option = block.settings.socialImg %}
                    {% case option %}
                      {% when "fb" %}
                      {% render 'icon-fb' %}
                      {% when "insta" %}
                      {% render 'icon-insta' %}
                      {% when "pin" %}
                      {% render 'icon-pin' %}
                    {% endcase %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          <h1 class="hero__head">{{ section.settings.websiteTitle }}</h1>
        </div>
      </div>
    </div>
    {% assign benefitBlocks = section.blocks | where: 'type', 'benefits' %}
    {% if benefitBlocks != empty %}
      <div class="row">
        <div class="col-12">
          <ul class="benefits">
            {% for block in benefitBlocks %}
              <li class="benefits__item">
                <div class="benefits__img">
                  {% case block.settings.benefitImg %}
                    {% when 'hours' %}
                    {% render 'icon-24h' %}
                    {% when 'card' %}
                    {% render 'icon-card' %}
                    {% when 'discount' %}
                    {% render 'icon-discount' %}
                    {% when 'sparkles' %}
                    {% render 'icon-sparkles' %}
                  {% else %}
                    {% render 'icon-sparkles' %}
                  {% endcase %}
                </div>
                <div class="benefits__txt">
                  {{- block.settings.benefitTxt -}}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Hero Header",
    "settings": [
      {
        "type": "text",
        "id": "websiteTitle",
        "label": "Website Title",
        "default": "Fresh Flowers for All Tastes and Occasions"
      }
    ],
    "blocks": [
      {
        "type": "benefits",
        "name": "Benefit Block",
        "limit": 4,
        "settings": [
          {
            "type": "select",
            "id": "benefitImg",
            "label": "Benefit Icon",
            "options": [
              {
                "value": "hours",
                "label": "24 Hours"
              }, {
                "value": "card",
                "label": "Greeting Card"
              }, {
                "value": "discount",
                "label": "Discount"
              }, {
                "value": "sparkles",
                "label": "Sparkles"
              }
            ],
            "default": "sparkles"
          }, {
            "type": "textarea",
            "id": "benefitTxt",
            "label": "Benefit Text",
            "default": "Your Text Goes Here"
          }
        ]
      }, {
        "type": "social",
        "name": "Social Links",
        "settings": [
          {
            "type": "select",
            "id": "socialImg",
            "label": "Social Media Icon",
            "options": [
              {
                "value": "fb",
                "label": "Facebook"
              }, {
                "value": "insta",
                "label": "Instagram"
              }, {
                "value": "pin",
                "label": "Pinterest"
              }
            ]
          }, {
            "type": "url",
            "id": "socialLink",
            "label": "Social Media Link"
          }
        ]
      }, {
        "type": "feature",
        "name": "Special Feature",
        "limit": 4,
        "settings": [
          {
            "type": "text",
            "id": "featureHead",
            "label": "Heading",
            "default": "Your Heading Goes Here"
          }, {
            "type": "textarea",
            "id": "featureTxt",
            "label": "Description",
            "default": "Here goes the description of your special feature"
          }
        ]
      }
    ]
  }
{% endschema %}
