<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="section__heading heading heading_a heading_center">{{ collection.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <form class="filter">
                {% for filter in collection.filters %}
                    <div class="filter__block">
                        <h4 class="heading heading_d">{{ filter.label }}</h4>
                        <ul class="filter-list">
                            {% for filter_value in filter.values %}
                                <li class="filter-list__item">
                                    <input type="checkbox" name="Carnation" id="fl_2" class="filter-list__checkbox" tabindex="-1">
                                    <label for="fl_2" class="filter-list__label">
                                        {% if filter_value.active %}
                                            {% render 'icon-checkbox-checked' %}
                                        {% else %}
                                            {% render 'icon-checkbox-unchecked' %}
                                        {% endif %}
                                        <span class="filter-list__txt">{{ filter_value.label }}</span>
                                        <span class="filter-list__counter">{{ filter_value.count }}</span> 
                                    </label>
                                </li> 
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                <div class="filter__block">
                    <h4 class="filter__heading heading heading_d">Price</h4>
                    <div class="range-slider">
                        <div class="range-slider__values-wrap">
                            <span class="range-slider__txt">$</span>
                            <span class="range-slider__values range-slider__values_min"></span>
                            <span class="range-slider__txt">&ndash;</span>
                            <span class="range-slider__values range-slider__values_max"></span>
                        </div>
                        <input 
                            value="1000" 
                            min="1000" 
                            max="50000" 
                            step="500" 
                            type="range"
                            class="range-slider__range"
                        >
                        <input 
                            value="50000" 
                            min="1000" 
                            max="50000" 
                            step="500" 
                            type="range"
                            class="range-slider__range"
                        >
                    </div>
                </div>
                <div class="filter__block">
                    <h4 class="heading heading_d"></h4>
                    <ul class="filter-list">
                        <li class="filter-list__item">
                            <input 
                                type="checkbox" 
                                name="mono" 
                                id="mono" 
                                class="filter-list__checkbox" 
                                tabindex="-1"
                            >
                            <label for="mono" class="filter-list__label">
                                {% render 'icon-checkbox-unchecked' %}
                                <h4 class="filter-list__txt heading heading_d">Mono Bouquet</h4>
                                <div class="filter-list__counter">15</div>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="filter__block">
                    <h4 class="filter__heading heading heading_d">Occasion</h4>

                </div>
                <div class="filter__block">
                    <h4 class="filter__heading heading heading_d">Size</h4>

                </div>
                <div class="filter__block">
                    <h4 class="filter__heading heading heading_d">Flowers</h4>
                    <ul class="filter-list">
                        <li class="filter-list__item">
                            <input type="checkbox" name="Alstroemeria" id="fl_1" class="filter-list__checkbox" tabindex="-1">
                            <label for="fl_1" class="filter-list__label">
                                {% render 'icon-checkbox-unchecked' %}
                                <span class="filter-list__txt">Alstroemeria</span>
                                <span class="filter-list__counter">22</span>
                            </label>
                        </li>
                        <li class="filter-list__item">
                            <input type="checkbox" name="Carnation" id="fl_2" class="filter-list__checkbox" tabindex="-1">
                            <label for="fl_2" class="filter-list__label">
                                {% render 'icon-checkbox-unchecked' %}
                                <span class="filter-list__txt">Carnation</span>
                                <span class="filter-list__counter">13</span> 
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="filter__block">
                    <h4 class="filter__heading heading heading_d">Color</h4>
                    <ul class="filter-list">
                        <li class="filter-list__item">
                            <input type="checkbox" name="white" id="cl_1" class="filter-list__checkbox" tabindex="-1">
                            <label for="cl_1" class="filter-list__label">
                                {% render 'icon-checkbox-unchecked' %}
                                <span class="filter-list__picker"></span>
                                <span class="filter-list__txt">White</span>
                                <span class="filter-list__counter"></span>
                            </label>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-9">
            <ul class="products">
            {% paginate collection.products by 12 %}
                {% for product in collection.products %}
                    {% render 'product-card', product: product %}
                {% endfor %}
                </ul>
                {% render 'pagination', paginate: paginate %}
            {% endpaginate %}
        </div>
    </div>
</div>
