{% section 'hero' %}
{% section 'bar-features' %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="heading heading_b heading_center">Flowers of the week</h2>
                <ul class="products">
                    {% render 'product-card' %}
                    {% render 'product-card' %}
                    {% render 'product-card' %}
                    {% render 'product-card' %}
                </ul>
            </div>
        </div>
    </div>
    
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="heading heading_b heading_center">Special offers</h2>
                <ul class="products">
                    {% render 'product-card' %}
                    {% render 'product-card' %}
                    {% render 'product-card' %}
                    {% render 'product-card' %}
                    </ul>
            </div>
        </div>
    </div>
    
</section>
